---
import Layout from "../../layouts/Layout.astro";
import Header from "./components/Header.astro";
import Photos from "./components/Photos.astro";
import Partners from "./components/Partners.astro";
import AppMobile from "./components/AppMobile.astro";
import Contact from "./components/Contact.astro";
import Footer from "./components/Footer.astro";
import CarouselClients from "./components/CarouselClients.astro";
import InfoRFID from "./components/InfoRFID.astro";
---

<Layout title="Glinseal">
  <div id="loader-overflow">
    <div id="loader3">Please enable JS</div>
  </div>

  <div id="wrap" class="boxed">
    <div class="grey-bg">
      <Header />

      <div class="page-section p-110-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-5 pb-40">
              <blockquote class="quote mb-0 pr-50-min-1169">
                <div class="col-md">
                  <div class="mb-20">
                    <h2 class="section-title">
                      CONNECTIVITY <span class="bold">RFID</span>
                    </h2>
                  </div>
                </div>
              </blockquote>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 col-sm-12 pb-10">
                  <div class="fes5-box wow fadeIn">
                    The common denominator in international trade is the need to
                    obtain timely and actionable information on the condition
                    and location of goods.
                    <br />
                    <br />
                     RFID electronic seals offer a unique combination of
                    physical protection with container status information. It
                    creates a record of actionable data to improve security and
                    management, allowing for increased efficiency in logistics
                    operations.
                    <br />
                    <br />
                     Our technology responds to the growing demand for RFID
                    seals that speed up inspection processes by recording all
                    attempts to open and close container and truck doors.
                    <br />
                    <br />
                     RFID seals ensure the smooth and secure flow of goods,
                    facilitating the and secure circulation of goods,
                    facilitating the logistics logistics chain international
                    logistics chain. Their use enables a timely response,
                    providing security to the global logistics chain and
                    substantially reducing and a substantial reduction in
                    operating costs.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Photos />

      <Partners />

      <InfoRFID />

      <div class="page-section video-ads-bg">
        <div class="container">
          <div class="video-ads-text-cont clearfix">
            <span class="video-ads-text">RFID SEALS</span>
          </div>
        </div>
      </div>

      <AppMobile />

      <CarouselClients />

      <div class="page-section p-110-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-map"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">ADDRESS</span></h3>
                  <p>SEDE CENTRAL, LIMA-PERÚ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-mail"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">EMAIL</span></h3>
                  <p>
                    <a href="mailto:info@glinseal.com">INFO@GLINSEAL.COM</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-smartphone"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">CALL US</span></h3>
                  <p>+1 (631) 355-9575</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Contact />

      <Footer />
    </div>
  </div>
</Layout>
