---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Photos from "../components/Photos.astro";
import Partners from "../components/Partners.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import AppMobile from "../components/AppMobile.astro";
import InfoRFID from "../components/InfoRFID.astro";
import CarouselClients from "../components/CarouselClients.astro";
---

<Layout title="Glinseal">
  <div id="loader-overflow">
    <div id="loader3">Please enable JS</div>
  </div>

  <div id="wrap" class="boxed">
    <div class="grey-bg">
      <Header />

      <div class="page-section p-110-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-5 pb-40">
              <blockquote class="quote mb-0 pr-50-min-1169">
                <div class="col-md">
                  <div class="mb-20">
                    <h2 class="section-title">
                      CONECTIVIDAD <span class="bold">RFID</span>
                    </h2>
                  </div>
                </div>
              </blockquote>
            </div>

            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 col-sm-12 pb-10">
                  <div class="fes5-box wow fadeIn">
                    El denominador común en el comercio internacional es la
                    necesidad de obtención de información oportuna y procesable
                    sobre la condición y ubicación de las mercaderías.
                    <br />
                    <br />
                     Los precintos electrónicos RFID ofrecen una combinación
                    única de protección física con la información del estado de
                    contenedores. Crea un registro de datos procesables para
                    mejorar la seguridad y la gestión, permitiendo incrementar
                    la eficiencia de las operaciones logísticas.
                    <br />
                    <br />
                     Nuestra tecnología responde a la creciente demanda de
                    precintos RFID que aceleren los procesos de inspección,
                    registrando todos los intentos de apertura y cierre de
                    puertas de contenedores y camiones.
                    <br />
                    <br />
                     Los precintos RFID garantizan la circulación fluida y
                    segura de las mercaderías facilitando la cadena logística
                    internacional. Su uso permite una respuesta oportuna,
                    aportando seguridad a la cadena logística global y una
                    reducción sustancialmente los costos operativos.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Photos />

      <Partners />

      <InfoRFID />

      <div class="page-section video-ads-bg">
        <div class="container">
          <div class="video-ads-text-cont clearfix">
            <span class="video-ads-text">PRECINTOS RFID</span>
          </div>
        </div>
      </div>

      <AppMobile />

      <CarouselClients />

      <div class="page-section p-110-cont">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-map"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">DIRECCIÓN</span></h3>
                  <p>SEDE CENTRAL, LIMA-PERÚ</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-mail"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">CORREO</span></h3>
                  <p>
                    <a href="mailto:info@glinseal.com">INFO@GLINSEAL.COM</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="cis-cont">
                <div class="cis-icon">
                  <div class="icon icon-basic-smartphone"></div>
                </div>
                <div class="cis-text">
                  <h3><span class="bold">LLÁMANOS</span></h3>
                  <p>+1 (631) 355-9575</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <Contact />

      <Footer />
    </div>
  </div>
</Layout>
