<footer id="footer1" class="page-section text-center pt-100-b-80-cont">
  <div class="container">
    <!-- Copyright -->
    <div class="footer-2-copy-cont">
      <img class="logo-footer" src="images/logo candado.png" alt="logo" />
      <a href="http://themeforest.net/user/abcgomel/portfolio" target="_blank">
        &copy; GLINSEAL 2023
      </a>
    </div>
  </div>
</footer>

<p id="back-top">
  <a href="#top" title="Back to Top"
    ><span class="icon icon-arrows-up"></span></a
  >
</p>
