<div class="page-section grey-light-bg clearfix">
  <div class="fes7-img-cont col-md-7 col-lg-6 col-lg-pull-6">
    <div class="fes7-img" style="background-image: url(images/personarfid.png)">
    </div>
  </div>

  <div id="rfid" class="container">
    <div class="row info1-rfid">
      <div
        class="col-md-6 col-md-offset-6 col-lg-8 col-lg-pull-1 fes7-text-cont"
      >
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          WHAT IS A
          <span class="bold" style="color: white">RFID SEAL</span>?
        </h1>

        <p class="mb-60" style="color: white">
          It is a seal that combines the high level of mechanical security
          offered by ISO17712 with the electronic offered by ISO17712 with the
          security of the electronic transmission UHF RFID for a unique serial
          identification that is impossible to replicate. replicable.
          <br />
          <br />
           Thanks to a long-range reading, it is possible to detect
          automatically when a container is to be automatically detect when a
          container is to be removed from a terminal terminal without
          authorization, making inbound/outbound operations operations faster,
          more reliable, secure and free of human error. human error.
          <br />
          <br />
           The integrity of the seals (Handled / Non-Handled) is immediately
          immediately upon passing through an RFID gantry or by physical
          inspection (handheld RFID readers). by physical inspection (handheld
          RFID readers).
        </p>
      </div>

      <div
        class="col-md-6 col-md-offset-6 col-lg-8 col-lg-pull-1 fes7-text-cont"
      >
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          HOW DOES
          <span class="bold" style="color: white"> RFID TECHNOLOGY</span>
           WORK?
        </h1>

        <p style="color: white">
          Nossa solução de RFID usa etiquetas e selos com diferentes qualidades
          para atender a uma variedade de necessidades. Ela usa antenas e
          leitores em pórticos fixos para processos automatizados, bem como
          leitores portáteis de RFID/UHF.
          <br />
          <br />
           À medida que as etiquetas ou selos RFID são atingidos pela cobertura
          das antenas, eles informam seu código de identificação (exclusivo e
          impossível de clonar), além de nossos selos RFID poderem informar a
          integridade (adulterado / não adulterado) e a condição (aberto /
          fechado).
        </p>
      </div>
    </div>
  </div>
</div>

<div id="work-process-link" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-7">
        <div class="mb-50">
          <h2 class="section-title">
            WHAT IS A HIGH SECURITY <span class="bold">RFID 3-STATE SEAL</span>?
          </h2>
        </div>
        
        <p class="mb-50">
          It is a device that complies with the highest security standards
          worldwide, capable of providing <span class="bold"
            >RFID IDENTIFICATION</span
          > information, if its integrity is <span class="bold"
            >HANDLED NOT</span
          > or <span class="bold">HANDLED</span> plus the condition of use

          <span class="bold">OPEN</span> or <span class="bold">CLOSED</span>.
        </p>
      </div>
      <div class="col-md-4 fes9-img-cont clearfix">
        <div class="fes9-img-center clearfix">
          <div class="fes9-img-center">
            <img src="/images/precintos3rfid.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .info1-rfid {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
  }

  @media (min-width: 992px) {
    .info1-rfid {
      padding-left: 250px;
    }
  }
</style>
