<div class="main-menu-container">
  <div class="container-m-30 clearfix">
    <div id="main-menu">
      <div class="navbar navbar-default" role="navigation">
        <nav class="collapse collapsing navbar-collapse nav-center">
          <ul id="nav-onepage" class="nav navbar-nav">
            <li class="current">
              <a href="#index-link">
                <div class="main-menu-title text-link-g">HOME</div>
              </a>
            </li>

            <li>
              <a href="#partners">
                <div class="main-menu-title text-link-g">PARTNERS</div>
              </a>
            </li>

            <li>
              <a href="#rfid">
                <div class="main-menu-title text-link-g">RFID SYSTEM</div>
              </a>
            </li>

            <li>
              <a href="#about">
                <div class="main-menu-title text-link-g">ABOUT US</div>
              </a>
            </li>

            <li>
              <a href="#clients">
                <div class="main-menu-title text-link-g">CLIENTS</div>
              </a>
            </li>

            <li>
              <a href="#contact">
                <div class="main-menu-title text-link-g">CONTACT</div>
              </a>
            </li>

            <li class="parent">
              <a href="#">
                <div class="main-menu-title text-link-g">
                  <i class="fa fa-language" style="font-size: x-large;"></i>
                </div>
              </a>

              <ul class="sub">
                <li>
                  <a href="/">SPANISH</a>
                </li>

                <li>
                  <a href="/br">PORTUGUESE</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<style>
  .text-link-g {
    font-size: 15px;
  }
</style>
