<div id="partners" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-20">
          <h2 class="section-title">
            STRATEGIC <span class="bold">PARTNERS</span>
          </h2>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://www.leghornseals.com/es/" target="_blank">
                <img src="./images/Logo Leghorn - Junior.png" loading="lazy" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Italian company with more than 40 years of experience
                manufacturing high security seals. Leghorn RFID seals are
                currently operating in some countries in Europe, Asia and
                America. Leghorn owns three manufacturing plants in Europe
                operating under ISO 9001 management standards. It also holds
                numerous patents that position it as a world leader in RFID
                security technologies.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Logo VMI - Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                It is a leading manufacturer of x-ray scanners. Its technology
                is widely used in different countries around the world. Our
                digital solutions allow us to provide security to scanned
                containers in port terminals and warehouses. We have a strategic
                agreement that allows the integration of our technologies,
                increasing cargo security levels.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://priimetech.com.br/" target="_blank">
                <img src="./images/Prime Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Brazilian company that develops the most innovative gantry
                automation systems. The technological innovations it
                incorporates eliminate the use of analog documents for the
                identification of vehicles, drivers and loads. Priime's solution
                streamlines the entry and exit processes of terminals and can be
                easily integrated to different appointment systems, generating
                automatic and secure processes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
