<div id="clients" class="page-section nl-cont">
  <div class="container">
    <div class="row">
      <div class="col-md-12 nl-form-container clearfix">
        <div id="owl-clients" class="owl-carousel our-clients-cont">
          <div class="item">
            <img src="images/Logo SUNAT FINAL - Junior.png" alt="client" />
          </div>

          <div class="item">
            <img src="images/logo-hse-seal-final-junior.webp" alt="client" />
          </div>

          <div class="item">
            <img src="images/Logo E+ FINAL - Junior.png" alt="client" />
          </div>

          <div class="item">
            <img src="images/Logo SAT FINAL - Junior.png" alt="client" />
          </div>

          <div class="item">
            <img src="images/logo-indeco-junior.webp" alt="client" />
          </div>

          <div class="item">
            <img src="images/Logo Multimodal - Junior.png" alt="client" />
          </div>

          <div class="item">
            <img src="images/Terramar Junior.png" alt="client" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
