<div id="contact" class="page-section gray-bg clearfix">
  <div class="fes7-img-cont col-md-6 dark-bg">
    <div
      class="fes7-img wow fadeInRight"
      style="background-image: url(images/barco.png)"
    >
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 fes7-text-cont p-50-cont">
        <div class="contact-form-cont">
          <div class="mb-30">
            <h2 class="section-title">
              <span class="bold">CONTÁCTANOS</span>
            </h2>
          </div>

          

          <div class="">
            <form
              target="_blank"
              action="https://formsubmit.co/miguel@glinseal.com"
              method="POST"
            >
              <div class="row">
                <div class="col-md-12 mb-30">
                  <input
                    type="text"
                    maxlength="100"
                    class="controled"
                    name="name"
                    id="name"
                    placeholder="NOMBRE"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-30">
                  <input
                    type="email"
                    maxlength="100"
                    class="controled"
                    name="email"
                    id="email"
                    placeholder="CORREO"
                    required
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-40">
                  <textarea
                    maxlength="5000"
                    rows="3"
                    class="controled"
                    name="message"
                    id="message"
                    placeholder="MENSAJE"
                    required></textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center-xxs">
                  <input
                    type="submit"
                    value="ENVIAR MENSAJE"
                    class="button medium gray"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
