<div class="page-section grey-light-bg clearfix">
  <div class="fes7-img-cont col-md-7 col-lg-6 col-lg-pull-6">
    <div class="fes7-img" style="background-image: url(images/personarfid.png)">
    </div>
  </div>

  <div id="rfid" class="container">
    <div class="row info1-rfid">
      <div
        class="col-md-6 col-md-offset-6 col-lg-8 col-lg-pull-1 fes7-text-cont"
      >
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          ¿QUE ES UN
          <span class="bold" style="color: white">PRECINTO RFID</span>?
        </h1>

        <p class="mb-60" style="color: white">
          Es un precinto que combina el alto nivel de seguridad mecánica
          ofrecido por ISO17712 con la seguridad de la transmisión electrónica
          RFID UHF para tener una identificación de serie unívoca imposible de
          replicar.
          <br />
          <br />
           Gracias a una lectura de largo alcance, se puede detectar
          automáticamente cuando un contenedor quiere ser retirado de una
          terminal sin autorización, haciendo que las operaciones de
          entrada/salida sean más rápidas, confiables, seguras y sin errores
          humanos.
          <br />
          <br />
           La integridad de los precintos (Manipulado / No Manipulado) se
          detecta inmediatamente al momento de pasar por un pórtico RFID o
          mediante una inspección física (lectores RFID manuales).
        </p>
      </div>

      <div
        class="col-md-6 col-md-offset-6 col-lg-8 col-lg-pull-1 fes7-text-cont"
      >
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          ¿COMO FUNCIONA LA
          <span class="bold" style="color: white"> TECNOLOGÍA RFID</span>?
        </h1>

        <p style="color: white">
          Nuestra solución RFID emplea etiquetas y precintos con diferentes
          cualidades que se adecuan a variadas necesidades. Emplea antenas y
          lectoras en pórticos fijos para procesos automatizados, además de
          lectoras manuales RFID/UHF.
          <br />
          <br />
           A medida que las etiquetas o precintos RFID son alcanzados por la
          cobertura de las antenas, estos informan su código de identificación
          (único e imposible de clonar), además nuestros precintos RFID pueden
          informar integridad (manipulado / no manipulado) y condición (abierto
          / cerrado).
        </p>
      </div>
    </div><!--end of row-->
  </div>
</div>

<div id="work-process-link" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-7">
        <div class="mb-50">
          <h2 class="section-title">
            ¿QUÉ ES UN PRECINTO DE ALTA SEGURIDAD <span class="bold"
              >RFID DE 3 ESTADOS</span
            >?
          </h2>
        </div>

        <p class="mb-50">
          Es un dispositivo que cumple con los más altos estándares de seguridad
          a nivel mundial, capaz de proporcionar la información de
          <span class="bold">IDENTIFICACION RFID</span>, si su integridad se
          encuentra <span class="bold">MANIPULADO</span> o <span class="bold"
            >NO MANIPULADO</span
          > más la condición de uso <span class="bold">ABIERTO</span> o <span
            class="bold">CERRADO.</span
          >
        </p>
      </div>
      <div class="col-md-4 fes9-img-cont clearfix">
        <div class="fes9-img-center clearfix">
          <div class="fes9-img-center">
            <img src="/images/precintos3rfid.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .info1-rfid {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
  }

  @media (min-width: 992px) {
    .info1-rfid {
      padding-left: 250px;
    }
  }
</style>
