<nav class="collapse collapsing navbar-collapse nav-center">
  <ul id="nav-onepage" class="nav navbar-nav">
    <li class="current">
      <a href="#index-link">
        <div class="main-menu-title text-link-g">INICIO</div>
      </a>
    </li>

    <li>
      <a href="#partners">
        <div class="main-menu-title text-link-g">ALIADOS</div>
      </a>
    </li>

    <li>
      <a href="#rfid">
        <div class="main-menu-title text-link-g">SISTEMA RFID</div>
      </a>
    </li>

    <li>
      <a href="#about">
        <div class="main-menu-title text-link-g">SOBRE NOSOSOTROS</div>
      </a>
    </li>

    <li>
      <a href="#clients">
        <div class="main-menu-title text-link-g">CLIENTES</div>
      </a>
    </li>

    <!-- MENU ITEM -->
    <li>
      <a href="#contact">
        <div class="main-menu-title text-link-g">CONTACTO</div>
      </a>
    </li>

    <li class="parent">
      <a href="#">
        <div class="main-menu-title text-link-g">
          <i class="fa fa-language" style="font-size: x-large;"></i>
        </div>
      </a>

      <ul class="sub">
        <li>
          <a href="/en">INGLÉS</a>
        </li>

        <li>
          <a href="/br">PORTUGUÉS</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  .text-link-g {
    font-size: 15px;
  }
</style>
