<div id="partners" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-20">
          <h2 class="section-title">
            ALIADOS <span class="bold">ESTRATÉGICOS</span>
          </h2>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://www.leghornseals.com/es/" target="_blank">
                <img src="./images/Logo Leghorn - Junior.png" loading="lazy" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Empresa italiana con más de 40 años de experiencia fabricando
                precintos de alta seguridad. Actualmente los precintos RFID de
                Leghorn se encuentra operativa en algunos países de Europa, Asia
                y América. Leghorn es propietario de tres plantas de fabricación
                en Europa operando bajo normas de gestión ISO 9001. Posee,
                además, numerosas patentes que lo posicionan como líder mundial
                en tecnologías de seguridad con RFID.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Logo VMI - Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Es líder en la fabricación de escáner de rayos x. Su tecnología
                es ampliamente usada en diferentes países en todo el mundo.
                Nuestro soluciones digitales permiten brindar seguridad a los
                contenedores escaneados en las terminales portuarias y
                depósitos. Contamos con un acuerdo estratégico que permite la
                integración de nuestras tecnologías, incrementando los niveles
                de seguridad de la carga.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://priimetech.com.br/" target="_blank">
                <img src="./images/Prime Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Empresa brasileña que desarrolla los más novedosos sistemas de
                automatización de pórticos. Las innovaciones tecnológicas que
                incorpora eliminan el uso de documentos analógicos para la
                identificación de vehículos, conductores y cargas. La solución
                de Priime agiliza los procesos de entrada y salida de las
                terminales y puede ser fácilmente integrada a diferentes
                sistemas de citas, generando procesos automáticos y seguros.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
