<div class="page-section grey-light-bg clearfix">
  <div class="fes7-img-cont col-md-7 col-lg-6 col-lg-pull-6">
    <div class="fes7-img" style="background-image: url(images/personarfid.png)">
    </div>
  </div>

  <div id="rfid" class="container">
    <div class="row info1-rfid">
      <div
        class="col-md-6 col-md-offset-6 col-lg-8 col-lg-pull-1 fes7-text-cont"
      >
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          O QUE É UM <span class="bold" style="color: white">SELO RFID</span>?
        </h1>

        <p class="mb-60" style="color: white">
          É um lacre que combina o alto nível de segurança mecânica oferecido
          pela ISO17712 com a segurança da transmissão eletrônica de RFID UHF
          para uma identificação serial exclusiva que é impossível de ser
          replicada.
          <br />
          <br />
           Graças à leitura de longo alcance, ele pode detectar automaticamente
          quando um contêiner deseja ser removido de um terminal sem
          autorização, tornando as operações de entrada/saída mais rápidas,
          confiáveis, seguras e livres de erros humanos.
          <br />
          <br />
           A integridade dos selos (Manipulado / Não Manipulado) é detectada
          imediatamente ao passar por um pórtico de RFID ou por inspeção física
          (leitores RFID portáteis).
        </p>
      </div>

      <div
        class="col-md-6 col-md-offset-6 col-lg-8 col-lg-pull-1 fes7-text-cont"
      >
        <h1
          class="section-title"
          style="border-left: white 2px solid; color: white"
        >
          COMO FUNCIONA A
          <span class="bold" style="color: white"> TECNOLOGIA RFID</span>?
        </h1>

        <p style="color: white">
          Nossa solução de RFID usa etiquetas e selos com diferentes qualidades
          para atender a uma variedade de necessidades. Ela usa antenas e
          leitores em pórticos fixos para processos automatizados, bem como
          leitores portáteis de RFID/UHF.
          <br />
          <br />
           À medida que as etiquetas ou selos RFID são atingidos pela cobertura
          das antenas, eles informam seu código de identificação (exclusivo e
          impossível de clonar), além de nossos selos RFID poderem informar a
          integridade (adulterado / não adulterado) e a condição (aberto /
          fechado).
        </p>
      </div>
    </div>
  </div>
</div>

<div id="work-process-link" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-7">
        <div class="mb-50">
          <h2 class="section-title">
            O QUE É UM SELO <span class="bold">RFID DE 3 ESTADOS</span> DE ALTA
            SEGURANÇA?
          </h2>
        </div>
        <p class="mb-50">
          É um dispositivo que atende aos mais altos padrões de segurança em
          todo o mundo, capaz de fornecer informações de <span class="bold"
            >IDENTIFICAÇÃO RFID</span
          >, independentemente de sua integridade ser <span class="bold"
            >MANIPULADA</span
          > ou <span class="bold">NÃO MANIPULADA</span>, além da condição de uso


          <span class="bold">ABERTA</span> ou <span class="bold">FECHADA</span>.
        </p>
      </div>
      <div class="col-md-4">
        <div class="fes9-img-center clearfix">
          <div class="fes9-img-center">
            <img src="/images/precintos3rfid.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .info1-rfid {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 0px;
  }

  @media (min-width: 992px) {
    .info1-rfid {
      padding-left: 250px;
    }
  }
</style>
