<div id="partners" class="page-section">
  <div class="container fes4-cont">
    <div class="row">
      <div class="col-md-4">
        <div class="mb-20">
          <h2 class="section-title">
            ALIADOS <span class="bold">ESTRATÉGICOS</span>
          </h2>
        </div>
      </div>

      <div class="col-md-7">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://www.leghornseals.com/es/" target="_blank">
                <img src="./images/Logo Leghorn - Junior.png" loading="lazy" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Empresa italiana com mais de 40 anos de experiência na
                fabricação de selos de alta segurança. Atualmente, os selos RFID
                da Leghorn estão operando em alguns países da Europa, Ásia e
                América. A Leghorn possui três fábricas na Europa que operam de
                acordo com os padrões de gerenciamento ISO 9001. Ela também
                detém várias patentes que a posicionam como líder mundial em
                tecnologias de segurança RFID.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://vmisecurity.com/es/" target="_blank">
                <img src="./images/Logo VMI - Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                É um dos principais fabricantes de scanners de raios X. Sua
                tecnologia é amplamente utilizada em diversos países do mundo.
                Nossas soluções digitais oferecem segurança para contêineres
                escaneados em terminais portuários e armazéns. Temos um acordo
                estratégico que permite a integração de nossas tecnologias,
                aumentando os níveis de segurança da carga.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="fes8-box wow fadeIn">
              <a href="https://priimetech.com.br/" target="_blank">
                <img src="./images/Prime Junior.png" />
              </a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-7 col-md-7">
            <div class="fes8-box wow fadeIn">
              <p>
                Empresa brasileira que desenvolve os mais inovadores sistemas de
                automação de pórticos. As inovações tecnológicas que incorpora
                eliminam o uso de documentos analógicos para a identificação de
                veículos, motoristas e cargas. A solução da Priime agiliza os
                processos de entrada e saída dos terminais e pode ser facilmente
                integrada a diferentes sistemas de agendamento, gerando
                processos automáticos e seguros.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
