<div class="page-section">
  <div class="relative">
    <ul
      class="port-grid display-hover-on-mobile clearfix masonry"
      id="items-grid"
    >
      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto4grid.png" alt="img" />
        </div>
      </li>

      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto7grid.png" alt="img" />
        </div>
      </li>

      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto2grid.png" alt="img" />
        </div>
      </li>

      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto5grid.png" alt="img" />
        </div>
      </li>

      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto6grid.png" alt="img" />
        </div>
      </li>

      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto3grid.png" alt="img" />
        </div>
      </li>

      <li role="button" class="port-item mix">
        <div class="port-img-overlay">
          <img class="port-main-img" src="/images/foto1grid.png" alt="img" />
        </div>
      </li>
    </ul>
  </div>
</div>
